@import "../core/variables";

.return__button {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  font-family: $font;
  font-size: 16px;
  color: $cobalt-blue;
  letter-spacing: 1.25px;
  line-height: 1.14;
  padding: 22px 16px;
  margin-top: 20px;
  text-align: center;
}
