//Colors
$brown-grey: #979797;
$white: #fafafa;
$coral-pink: #ef6a6e;
$watermelon: #ff4f5b;
$melon: #ff8256;
$soft-blue: #5699ff;
$black: #212121;
$cobalt-blue: #0000a0;

//Fonts
$font: "Roboto", sans-serif;
