@import "../core/variables";

.return-button {
  width: 400px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: $white;
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: $cobalt-blue;
  text-align: center;
  margin-top: 15px;
}
