@import "../core/variables";
@import "../index";

.search-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  max-height: 85vh;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-left: 80px;
  padding: 40px 0 20px 0;
  box-shadow: 5px 0 5px -4px $brown-grey, -5px 0 5px -4px $brown-grey;
  background-color: $white;
}
