@import "../core/variables.scss";
@import "../index";

input[type="date"]::-webkit-inner-spin-button {
  display: none;

  &:hover {
    display: none;
  }
}
input[type="date"]::before {
  color: #999999;
  content: attr(placeholder);
}
input[type="date"] {
  color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

.search-date {
  width: 400px;
  margin-top: 0px;

  &__title {
    color: $cobalt-blue;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 14px;
  }
  &__inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 190px;
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
  }
  &__iclock {
    color: rgba(0, 0, 0, 0.32);
  }
  &__item {
    border: none;
  }
}

@media all and (min-width: 1280px) {
  .search-date {
    width: 400px;
    margin-top: 0px;

    &__title {
      color: $cobalt-blue;
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 14px;
    }
    &__inputs-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 190px;
      padding: 15px;
      border: solid 1px rgba(0, 0, 0, 0.32);
      border-radius: 5px;
    }
    &__iclock {
      color: rgba(0, 0, 0, 0.32);
    }
    &__item {
      border: none;
    }
  }
}
