@import "../core/variables";

.searchlocation {
  width: 480px;
  height: auto;
  scroll-margin-right: true;
 
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  &__main {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid lightgrey;
 
  }

  &__title {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-family: $font;
    font-size: 14px;
    line-height: 1.43px;
    letter-spacing: 0.25px;
    color: $cobalt-blue;
  }
  &__container {
    overflow-y:scroll;
    overflow-x:hidden;
   
  }
  &__list {
    list-style: none;
    height: 62px;
    display: flex;
    justify-content: space-between;
    padding-left: 86px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
   
    padding: 23px 0px 9px 80px;
    &__element {
     
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__city {
      font-family: $font;
      font-size: 16px;
      line-height: 1.5px;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
    }
    &__airport {
      font-family: $font;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
    }
    &__icon {
      margin-right: 59px;
      color: rgba(0, 0, 0, 0.54);
      transform: rotate(270deg);
    }
  }
}

.fa-chevron-up {
  padding: 45px 42px;
  padding-bottom: 25px;
}
