@import "../core/variables";
@import "../index";

.search-button {
  display: flex;
  justify-content: center;
  padding: 20px;
  &__button {
    font-family: $font;
    font-size: 14px;
    letter-spacing: 1.25px;
    color: $white;
    background-color: $cobalt-blue;
    border: none;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    background-color: $cobalt-blue;
    text-align: center;
  }
}
